<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Princial - AppCoder</h1>
    <p> Selecciona un link para hacer algo <p>
        <li><a href="{% url 'cargar_estudiante'  %}">Cargar un estudiante </li>
        <li><a href="{% url 'lista_estudiantes'  %}">Lista de estudiantes </li>
        <li> <a href="{% url 'cargar_profesor'  %}">Cargar un profesor </li>
        <li><a href="{% url 'lista_profesores'  %}">Lista profesores</li>
</body>
</html>