<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Estudiantes</title>
</head>
<body>
    <h1>Lista de Estudiantes</h1>
    <ul>
        {% for estudiante in estudiantes %}   
            <li>{{estudiante.nombre}} {{estudiante.apellido}}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'cargar_estudiante' %}">Agregar Estudiante</a>
    <a href="{% url 'index'  %}">Inicio
</body>
</html>